/*---------------------------------------------*/
input {
	outline: none;
  border: none;
  background: #E8F0FE !important;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
  outline: none;
  border: none;
  background: #E8F0FE !important;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder {color: #cccccc;}
input:-moz-placeholder {color: #cccccc;}
input::-moz-placeholder {color: #cccccc;}
input:-ms-input-placeholder {color: #cccccc;}

textarea::-webkit-input-placeholder {color: #cccccc;}
textarea:-moz-placeholder {color: #cccccc;}
textarea::-moz-placeholder {color: #cccccc;}
textarea:-ms-input-placeholder {color: #cccccc;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}



/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.container-contact {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  background: transparent;
  position: relative;
  z-index: 1;
}

.contact-map {
  position: absolute;
  z-index: -2;
  width: calc(100% - 640px);
  height: 100%;
  top: 0;
  left: 0;
}

.wrap-contact {

  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0px;
  min-height: 100vh;
  overflow-y: scroll;
  background: rgba(23,44,89,0.8);
  font-family: 'Lato', sans-serif;
  display: none;
}

.show-wrap-contact {
  visibility: visible;
  opacity: 1;
}


/*==================================================================
[ Form ]*/

.contact-form {
  width: 670px;
  margin: 90px 0;
  background: #FFF;
  font-family: 'Lato', sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  top: 0px;
}


.contact-form-title {
  display: block;
  width: 100%;
  height: 90px;
  background: url(../../img/form/form-footer-bg.jpg) top left no-repeat;
  font-size: 23px;
  font-weight: 600;
  color: #FFF;
  line-height: 1.2;
  text-align: center;
  padding: 30px 0;
  margin-bottom: 0px;
}
/*
.contact-form-title:before {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background: #2a98ed;
  margin: 0 auto;
  position: relative;
  top: 40px;
}
*/
.contact-form-description {
  text-align: center;
  font-size: 14px;
  color: #444;
  display: block;
  margin-bottom: 30px;
}

.contact-form .form-content {
  padding: 30px 40px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #dbdbdb;
  margin-bottom: 25px;
}

.label-input {
  font-size: 14px;
  font-weight: 600;
  color: #555;
  line-height: 1.2;
  padding-left: 2px;
}

.input {
  display: block;
  width: 100%;
  height: 35px !important;
  background: transparent;
  font-size: 14px;
  color: #555555;
  line-height: 1.2;
  padding: 0 5px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #888 !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #888 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #888 !important;
}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #009dcc;
}


/*---------------------------------------------*/
input.input {
  height: 50px;
}


textarea.input {
  min-height: 140px;
  padding-top: 13px;
  padding-bottom: 13px;
}


.input:focus + .focus-input::before {
  width: 100%;
}

.has-val.input + .focus-input::before {
  width: 100%;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-contact-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.wrap-contact-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
}

.contact-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #44AF69;
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background: #44AF69;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 170px;
  height: 45px;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact-form-btn:hover {
  background: #389056;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact-form-btn .icon img {
  height:20px;
  padding-right: 7px;
}

.wrap-contact-form-btn:hover .contact-form-bgbtn {
  left: 0;
}


/*------------------------------------------------------------------
[ Responsive ]*/


@media (max-width: 576px) {
  .wrap-contact {
    padding: 82px 15px 33px 15px;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 100%; 
    bottom: -25px;
    left: 2px;
    pointer-events: none;
    color: #c80000;
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
  
    visibility: hidden;
    opacity: 0;
  
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: "Font Awesome 5 Free";
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 20px;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 8px;
}

.alert-validate:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.true-validate::after {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  color: #00ad5f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 5px;
}


/*==================================================================
[ Contact more ]*/

.contact-more {
  font-size: 16px;
  color: #fff;

  position: fixed;
  z-index: -1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 212px;
  height: 50px;
  border-radius: 25px;
  background-color: #39b54a;
  padding: 0 20px;

  top: 50%;
  left: calc((100% - 640px) / 2);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.contact-more i {
  font-size: 20px;
  margin-right: 10px;
}



@media (max-width: 1200px) {
  .wrap-contact {
    width: 440px;
  }

  .contact-map {
    width: calc(100% - 440px);
  }

  .contact-more {
    left: calc((100% - 440px) / 2);
  }
}

@media (max-width: 768px) {
  .wrap-contact {
    width: 100%;
  }

  .contact-map {
    display: none;
  }

  .contact-more {
    position: absolute;
    background-color: transparent;
    color: #39b54a;
    bottom: 0px;
    top: auto;
    left: 50%;
    z-index: 10;
  }
}